include requirements.txt
include README.rst
include LICENSE
recursive-include metapack/test/test_data *.csv *.json *.txt *.ipynb *.py lib/*.py
recursive-include metapack/jupyter/templates *.tpl
recursive-include metapack/support/templates *.tpl *.md