alabaster==0.7.10
aniso8601==3.0.0
appdirs==1.4.3
appnope==0.1.0
Babel==2.5.3
backcall==0.1.0
beautifulsoup4==4.6.0
bleach==2.1.3
boto==2.48.0
boto3==1.6.19
botocore==1.9.19
bs4==0.0.1
cchardet==1.1.3
certifi==2018.1.18
chardet==3.0.4
click==6.7
codegen==1.0
contexttimer==0.3.3
datapackage==0.8.9
decorator==4.2.1
docopt==0.6.2
docutils==0.14
entrypoints==0.2.3
et-xmlfile==1.0.1
filelock==3.0.4
fs==2.0.20
future==0.16.0
graphviz==0.8.3
html5lib==1.0.1
idna==2.6
ijson==2.3
imagesize==1.0.0
ipykernel==4.8.2
ipython==6.3.1
ipython-genutils==0.2.0
ipywidgets==7.1.2
isodate==0.6.0
jdcal==1.3
jedi==0.11.1
Jinja2==2.10
jmespath==0.9.3
jsonlines==1.2.0
jsonpointer==1.14
jsonschema==2.6.0
jsontableschema==0.10.1
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
latexcodec==1.0.5
linear-tsv==1.1.0
LiveStats==1.0
Markdown==2.6.11
MarkupSafe==1.0
mistune==0.8.3
nameparser==0.5.6
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.4.1
numpy==1.14.2
openpyxl==2.4.11
packaging==17.1
pandas==0.22.0
pandocfilters==1.4.2
parso==0.1.1
petl==1.1.1
pexpect==4.4.0
pickleshare==0.7.4
pluggy==0.6.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.5.3
pybtex==0.21
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.3.1
requests==2.18.4
rfc3986==0.4.1
s3transfer==0.1.13
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.2
sphinx-argparse==0.2.2
sphinxcontrib-autoprogram==0.1.4
sphinxcontrib-websupport==1.0.1
SQLAlchemy==1.2.5
tableintuit==0.1.1
tableschema==1.0.12
tabulate==0.8.2
tabulator==1.14.0
terminado==0.8.1
terminaltables==3.1.0
testpath==0.3.1
tornado==5.0.1
tox==2.9.1
traitlets==4.3.2
unicodecsv==0.14.1
urllib3==1.22
virtualenv==15.2.0
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.1.4
xlrd==1.1.0
