unicodecsv
pyyaml
datapackage
markdown
boto3
nbconvert
IPython
nameparser
pybtex
appurl>=0.1.5
rowgenerators>=0.7.0
rowpipe>=0.1.5
metatab>=0.6.6
tableintuit>=0.0.6
geoid>=1.0.4
terminaltables
docopt

